@charset "UTF-8";

body {
    background-color:rgb(10, 10, 104);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}
h1 {
    color: rgb(177, 177, 177);
    ;
}
h2 {
    color: rgb(177, 177, 177);
}
p {
    color: rgb(177, 177, 177);
}
ul {
    color: rgb(177, 177, 177);
}
